Package: liblucihttp0
ABIVersion: 0
Version: 2023-03-15-9b5b683f-1
Depends: libc
Provides: liblucihttp
Status: install user installed
Architecture: x86_64
Installed-Time: 1711145382
Auto-Installed: yes

Package: mkf2fs
Version: 1.16.0-1
Depends: libc, libf2fs6
Status: install user installed
Architecture: x86_64
Installed-Time: 1711145382

Package: busybox
Version: 1.36.1-1
Depends: libc
Conflicts: busybox-selinux
Status: install user installed
Essential: yes
Architecture: x86_64
Installed-Time: 1711145382

Package: ca-bundle
Version: 20230311-1
Depends: libc, libopenssl3
Status: install user installed
Installed-Time: 1711145382
Auto-Installed: yes

Package: luci-app-sqm
Version: git-23.229.27387-1
Depends: luci-lib-ipkg, sqm-scripts, librt, libc, libuci20130104, libubus20220601, libubox20220601
Status: install user installed
Architecture: mipsel_24kc
Installed-Time: 1712600400

Package: sqm-scripts
Version: 1.6.0-1
Depends: kmod-sched-cake, tc, iptables, ip6tables
Status: install ok installed
Auto-Installed: yes
Architecture: mipsel_24kc
Installed-Time: 1712600400

Package: htop
Version: 3.2.2-1
Depends: libncurses6, libpthread, librt, libstdcpp6
Status: install user installed
Architecture: mipsel_24kc
Installed-Time: 1713001200

Package: luci-i18n-firewall-ru
Version: git-23.229.27387-1
Depends: luci-app-firewall
Status: install user installed
Architecture: mipsel_24kc
Installed-Time: 1713001300

Package: tailscale
Version: 1.64.0-1
Depends: libc, ca-bundle, kmod-tun
Status: install user installed
Architecture: mipsel_24kc
Installed-Time: 1713010000

Package: libcap-bin
Version: 2.69-1
Depends: libc, libcap2
Status: install user installed
Auto-Installed: yes
Architecture: mipsel_24kc
Installed-Time: 1713010000
